* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-size: 16px;
    width: 100%;
}

nav {
    background-color: rgb(81, 136, 238);
    padding: 1em;
}
nav li{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul {
    font-size: 18px;
    color: white;
}

.welcome {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.welcome img {
    width: 10rem;
    height: 100%;
}

.welcome-r-t {
    font-size: 1.5rem;
    text-align: center;
}

.history {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.history textarea {
    width: 100%;
    max-width: 60rem;
    height: 10rem;
    padding: 1rem;
}
.utility {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10rem;
}

.overview {
    margin: 1rem;
}

.account {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.utility img {
    width: 4rem;
    border-radius: 10px;
}

.balance {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.operation {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.tool {
    margin: 1rem;
}

.converter {
    margin: 1rem;
}